ML_ENDPOINT    = "https://your-endpoint-name.ml.azure.com/score"
ML_PRIMARY_KEY = "your-ml-primary-key"

AZURE_OPENAI_API_KEY=your-azure-openai-api-key
AZURE_OPENAI_ENDPOINT=https://your-endpoint-name.openai.azure.com/
AZURE_OPENAI_DEPLOYMENT=your-deployment-name
AZURE_OPENAI_API_VERSION=2025-01-01-preview